<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 style="text-align: center">Home</h2>
    <form action="/create" method="post" th:object="${listQuocGia}">
        <table class="table">
            <tr>
                <td>Name:</td>
                <td><input th:field="*{name}"></td>
                <td>
                    <span style="color: red" th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"></span>
                </td>
            </tr>
            <tr>
                <td>DienTich:</td>
                <td><input th:field="*{dienTich}" value="1"></td>
            </tr>
            <tr>
                <td>DanSO:</td>
                <td><input th:field="*{danSo}" value="1"></td>
            </tr>
            <tr>
                <td>GDP:</td>
                <td><input th:field="*{gdp}" value="1"></td>
            </tr>
            <tr>
                <td>GioiThieu:</td>
                <td><input th:field="*{gioiThieu}"></td>
                <td>
                    <span style="color: red" th:if="${#fields.hasErrors('gioiThieu')}"
                          th:errors="*{gioiThieu}"></span>
                </td>
            </tr>
                <td>QuocGia:</td>
                <td><select  th:field="*{quocGia}">
                    <option th:each="qg : ${quocGiaList}" th:value="${qg.idQuocGia}" th:text="${qg.nameQuocGia}"></option>
                </select>
                </td>
            </tr>
        </table>
        <button onclick=" return confirm('success! ')" type="submit" class="btn btn-success">Create</button>

    </form>
    <a href="/home" class="btn btn-success">Back</a>
</div>

</body>
</html>