<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 style="text-align: center">Detail</h2>
        <table class="table">
            <tr hidden>
                <td th:text="${listTP.idThanhPho}" ></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td th:text="${listTP.name}"></td>
            </tr>
            <tr>
                <td>DanSO:</td>
                <td th:text="${listTP.danSo}"></td>
            </tr>
            <tr>
                <td>DienTich:</td>
                <td th:text="${listTP.dienTich}"></td>
            </tr>
            <tr>
                <td>GDP:</td>
                <td th:text="${listTP.gdp}"></td>
            </tr>
            <tr>
                <td>Gioi thieu:</td>
                <td th:text="${listTP.gioiThieu}"></td>
            </tr>
            <tr>
                <td>Quoc Gia:</td>
                <td th:text="${listTP.quocGia.nameQuocGia}">
                </td>
            </tr>

        </table>
    <a th:href="@{/edit/{idThanhPho}(idThanhPho = ${listTP.idThanhPho})}" class="btn btn-success">Edit</a>|
    <span><a href="/home" class="btn btn-success" onclick=" return confirm('success! ')">Back</a></span>
</div>

</body>
</html>