<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 style="text-align: center">Edit</h2>
    <form method="post"  >
        <table class="table">
            <tr hidden>
                <td><input th:field="${listTP.idThanhPho}" ></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input th:field="${listTP.name}"></td>
            </tr>
            <tr>
                <td>DienTich:</td>
                <td><input th:field="${listTP.dienTich}"></td>
            </tr>
            <tr>
                <td>DanSO:</td>
                <td><input th:field="${listTP.danSo}"></td>
            </tr>
            <tr>
                <td>gdp:</td>
                <td><input th:field="${listTP.gdp}"></td>
            </tr>
            <tr>
                <td>Gioi thieu:</td>
                <td><input th:field="${listTP.gioiThieu}"></td>

            </tr>
            <tr>
                <td>QuocGia:</td>
                <td><select th:field="${listTP.quocGia}">
                    <option th:each="bl: ${quocGiaList}" th:value="${bl.idQuocGia}" th:text="${bl.nameQuocGia}"></option>
                </select>
                </td>
            </tr>
        </table>
        <button onclick=" return confirm('success! ')" type="submit" class="btn btn-success">Edit</button>
    </form>
    <a href="/home" class="btn btn-success">Back</a>
</div>

</body>
</html>